@model IEnumerable<Capstone_20130302.Models.Order>

@{
    ViewBag.Title = ViewBag.Store.StoreName + " Dashboard";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    
</body>
</html>
