<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapstoneProjectCore.Properties.Settings.SocialBuyConnectionString"
            connectionString="Data Source=Chip-PC;Initial Catalog=SocialBuy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>