@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "503";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<hgroup class="title">
    <h3>Error</h3>
    <p class="error">An error occurred while processing your request.</p>
    <p>@ViewBag.Message</p>
</hgroup>
